<div class="py-16 bg-orange" id="contact">
  <div class="mx-auto px-4">
    <h2 class="text-5xl title text-center mb-12 text-white">Contacto</h2>
    <div class="max-w-2xl mx-auto bg-white p-8 rounded shadow-lg">
      <form>
        <div class="mb-4">
          <label class="block text-gray800 text-sm font-bold mb-2" for="name">
            Nombre
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray800 leading-tight focus:outline-none focus:shadow-outline"
            id="name"
            type="text"
            placeholder="Tu nombre"
            autocomplete="name"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray800 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray800 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            type="email"
            placeholder="Tu email"
            autocomplete="email"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-gray800 text-sm font-bold mb-2"
            for="subject"
          >
            Asunto
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray800 leading-tight focus:outline-none focus:shadow-outline"
            id="subject"
            type="text"
            placeholder="Asunto"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-gray800 text-sm font-bold mb-2"
            for="message"
          >
            Mensaje
          </label>
          <textarea
            class="shadow resize-none appearance-none border rounded w-full py-2 px-3 text-gray800 leading-tight focus:outline-none focus:shadow-outline"
            id="message"
            rows="5"
            placeholder="Escribe tu mensaje aquí..."
          ></textarea>
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-black transition-all duration-200 text-white hover:bg-secondary hover:text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
