<div class="py-16" id="cases">
  <div class="mx-auto px-16">
    <h2 class="text-5xl title text-center pb-12">Casos de Éxito</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="flex justify-center flex-auto w-full">
        <img
          src="/img/carpenter.webp"
          alt="Jaime el carpintero"
          class="max-w-full lg:max-w-xl rounded shadow-2xl"
        />
      </div>
      <div class="bg-white p-8 rounded shadow-lg">
        <h3 class="text-4xl subtitle mb-4">Jaime el Carpintero</h3>
        <p class="mb-4">
          Jaime, conocido como "Jaime el Carpintero", es el fundador de Mabeka,
          una empresa dedicada a la fabricación de muebles a medida. Con una
          pasión por la carpintería desde joven, Jaime decidió emprender su
          propio negocio con el objetivo de ofrecer muebles personalizados y de
          alta calidad.
        </p>
        <p class="mb-4">
          En 2019, Jaime se unió al programa Estramipyme para fortalecer su
          empresa y mejorar su estrategia de mercado. Gracias a la metodología y
          las herramientas proporcionadas por Estramipyme, Jaime logró
          identificar nuevas oportunidades de negocio y mejorar sus procesos
          productivos.
        </p>
        <p class="mb-4">
          Hoy en día, Mabeka es una empresa reconocida en su sector, ofreciendo
          productos innovadores y de alta calidad. Jaime continúa aplicando las
          estrategias aprendidas en Estramipyme para seguir creciendo y
          superando los desafíos del mercado.
        </p>
        <a
          href="https://api.whatsapp.com/send?phone=573108992908"
          target="_blank"
          class="bg-black max-w-64 mt-28 flex items-center justify-center text-xs py-2 rounded-md px-1.5 text-white font-medium transition-all duration-200 hover:bg-secondary hover:text-grayDark xl:px-2 xl:text-base"
          >Hablemos</a
        >
      </div>
    </div>
  </div>
</div>
