<div class="w-full px-96 justify-end items-end">
    <div
      class="w-full max-w-screen-xl h-full flex-col flex items-center rounded-lg form-container justify-end "
    >
      <div class="grid-col w-full px-36 py-16 items-end">
        <div class="grid items-end justify-end w-full mb-16 font-semibold">
          <div class="text-white text-3xl px-12">
            <h1>Iniciar sesion</h1>
          </div>
          <div class="w-36 px-4 grid-col item-end justify-center">
            <img src="/img/white-logo.png" alt="white-logo" />
          </div>
        </div>
        <div>
          <app-form-login></app-form-login>
        </div>
      </div>
    </div>
</div>