<div class="min-h-screen flex flex-col">
  <div class="flex flex-1">
    <div class="text-white">
      <app-sidebar></app-sidebar>
    </div>

    <div class="flex flex-col flex-1 z-10">
      <div class="w-auto">
        <nav class="h-16 text-white float-end">
          <app-header class="flex justify-end hover-expand"></app-header>
        </nav>
      </div>

      <div class="text-black pt-2 px-8 text-xs md:text-lg">
        <p class="font-semibold text-2xl">Bienvenido</p>
        <p>
          {{ currentUser.role | titlecase }}:
          <span class="text-primaryDark">{{ currentUser.name }}</span>
        </p>
      </div>

      <app-popup-form *ngIf="showPopup"></app-popup-form>

      <div class="flex-1 p-2 md:p-8 overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
