<!-- The circulo dorado chart is a mix between annotations in a chart and flexbox containing the user input text -->
<section class="circulo rounded-[20px]">
    <div>
        <h2 class="text-2xl font-bold">Círculo Dorado</h2>
    </div>
    <div id="circulo_graphs" class="flex justify-around">
        <div class="w-[600px] ">
        <!-- border border-blue-900 rounded-[20px]"> -->
            <canvas id="circulo_dorado"></canvas>
        </div>
        <div id="circulo_textbox" class="w-[600px] mt-4">
            <div id="why" class="mb-4">
                <h3 class="text-xl font-semibold">Propósito</h3>
                <p id="p_why"></p>
            </div>
            <div id="how" class="mb-4">
                <h3 class="text-xl font-semibold">Propuesta de Valor</h3>
                <p id="p_how"></p>
            </div>
            <div id="what" class="mb-4">
                <h3 class="text-xl font-semibold">Productos y servicios</h3>
                <p id="p_what"></p>
            </div>
        </div>
    </div>
</section>
