.circulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px;


    h2 {
        display: flex;
        justify-content: center;
    }
}

#circulo_graphs {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}

#circulo_textbox {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

#why,
#how,
#what {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    margin: 5px 0;
    padding: 2%;

    /* color: white; */
    h3 {
        margin-bottom: 10px;
    }

    p {
        margin-top: 0;
    }
}