<div class="text-white border-t border-secondary">
  <footer class="bg-grayDark w-full">
    <div
      class="w-full h-24 flex flex-wrap items-center justify-between px-2 md:px-6"
    >
      <div class="flex items-center gap-4">
        <ul class="flex gap-12">
          <a href="/">
            <li>Inicio</li>
          </a>
          <a href="/">
            <li>Servicios</li>
          </a>
          <a href="/">
            <li>Nosotros</li>
          </a>
          <a href="/">
            <li>Contacto</li>
          </a>
        </ul>
      </div>
      <div>
        <img src="/img/white-logo.png" alt="White Logo" class="w-40" />
      </div>
      <div
        class="text-sm text-center flex flex-col gap-4 justify-center items-center mt-4 md:mt-0"
      >
        <a href="https://www.eafit.edu.co/">www.eafit.edu.co</a>

        <p>Eafit y EstramiPyme, todos los derechos reservados ® desde 2023.</p>
      </div>
    </div>
  </footer>
</div>
