<div class="text-white border-t border-secondary flex">
  <footer class="bg-grayDark w-full flex-col justify-center">
    <div
      class="w-full flex flex-col h-auto gap-12 flex-wrap items-center justify-between py-20 lg:py-8 px-2 md:px-6 2xl:flex-row 2xl:gap-0"
    >
      <div class="flex flex-col justify-center gap-8 lg:justify-start">
        <div>
          <ul
            class="flex flex-col gap-12 md:flex-row justify-center 2xl:justify-start"
          >
            <div class="flex flex-col gap-4 items-center 2xl:items-start">
              <a
                href="#start"
                class="transition-all duration-200 hover:text-secondary"
              >
                <li>Inicio</li>
              </a>
              <a
                href="#about"
                class="transition-all duration-200 hover:text-secondary"
              >
                <li>Sobre nosotros</li>
              </a>
              <a
                href="#methodology"
                class="transition-all duration-200 hover:text-secondary"
              >
                <li>Metodología</li>
              </a>
            </div>
            <div class="flex flex-col gap-4 items-center 2xl:items-start">
              <a
                href="#services"
                class="transition-all duration-200 hover:text-secondary"
              >
                <li>Servicios</li>
              </a>
              <a
                href="#cases"
                class="transition-all duration-200 hover:text-secondary"
              >
                <li>Casos de éxito</li>
              </a>
              <a
                href="#contact"
                class="transition-all duration-200 hover:text-secondary"
              >
                <li>Contacto</li>
              </a>
            </div>
          </ul>
        </div>
        <div>
          <ul class="flex flex-col items-center gap-12 md:flex-row">
            <div class="flex gap-2">
              <a
                href="https://www.facebook.com/universidadeafit"
                target="_blank"
              >
                <li>
                  <img
                    src="/img/facebook.svg"
                    alt="Facebook"
                    width="40rem"
                    height="auto"
                    class="bg-gray rounded-full p-0.5"
                  />
                </li>
              </a>
              <a href="https://x.com/eafit" target="_blank">
                <li>
                  <img
                    src="/img/x.svg"
                    alt="X"
                    width="40rem"
                    height="auto"
                    class="bg-gray rounded-full p-0.5"
                  />
                </li>
              </a>
              <a
                href="https://www.linkedin.com/school/universidadeafit/"
                target="_blank"
              >
                <li>
                  <img
                    src="/img/linkedin.svg"
                    alt="LinkedIn"
                    width="40rem"
                    height="auto"
                    class="bg-gray rounded-full p-0.5"
                  />
                </li>
              </a>
            </div>
            <div class="flex gap-2">
              <a href="https://www.youtube.com/user/ueafit" target="_blank">
                <li>
                  <img
                    src="/img/yt.svg"
                    alt="Youtube"
                    width="40rem"
                    height="auto"
                    class="bg-gray rounded-full p-0.5"
                  />
                </li>
              </a>
              <a href="https://www.instagram.com/eafit/" target="_blank">
                <li>
                  <img
                    src="/img/ig.svg"
                    alt="Instagram"
                    width="40rem"
                    height="auto"
                    class="bg-gray rounded-full p-0.5"
                  />
                </li>
              </a>
              <a
                href="https://open.spotify.com/show/7CcuvStr0qJRBv0hU8cvwX?si=bc16896ca1934f86&nd=1&dlsi=ad61aa9c8d7e48d6"
                target="_blank"
              >
                <li>
                  <img
                    src="/img/spotify.svg"
                    alt="Spotify"
                    width="40rem"
                    height="auto"
                    class="bg-gray rounded-full p-0.5"
                  />
                </li>
              </a>
            </div>
          </ul>
        </div>
      </div>
      <div>
        <div class="flex flex-col justify-center items-center">
          <h4 class="title">Contacto</h4>
          <ul class="flex flex-col justify-center items-center">
            <a
              href="https://www.eafit.edu.co/campus-eafit"
              target="_blank"
              class="transition-all duration-200 hover:text-secondary"
            >
              <li><b>EAFIT Medellín</b></li>
            </a>
            <li>Línea nacional: 01 8000 515 900</li>
            <li>Línea de atención (57) 604 2619500</li>
            <a
              href="https://api.whatsapp.com/send?phone=573108992908"
              target="_blank"
              class="transition-all duration-200 hover:text-secondary"
            >
              <li>Whatsapp: (57) 310 8992908</li>
            </a>
            <a
              href="https://www.eafit.edu.co/centrodevisitantes"
              target="_blank"
              class="transition-all duration-200 hover:text-secondary"
            >
              <li>Atención al​ Visitante</li>
            </a>
          </ul>
        </div>
      </div>
      <div
        class="text-sm text-center flex flex-col gap-4 justify-center items-center mt-4 md:mt-0"
      >
        <a href="https://www.eafit.edu.co/">www.eafit.edu.co</a>

        <p>Eafit y EstramiPyme, todos los derechos reservados ® desde 2023.</p>
        <img src="/img/white-logo.png" alt="White Logo" class="w-40" />
      </div>
    </div>
  </footer>
</div>
