<div class="min-h-screen flex flex-col">
  <div class="flex flex-1">
    <div class="text-white">
      <app-sidebar></app-sidebar>
    </div>

    <div class="flex flex-col flex-1 z-10">
      <div class="w-auto">
        <nav class="h-16 text-white float-end">
          <app-header class="flex justify-end hover-expand"></app-header>
        </nav>
      </div>

      <div class="flex-1 p-8 overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-footer class="mt-auto"></app-footer>
</div>
