<div
  class="h-auto bg-quarter-section shadow-xl px-16 py-24 flex flex-col justify-center"
  id="services"
>
  <div class="flex justify-center 2xl:justify-start items-center lg:pl-16">
    <h2 class="text-5xl title text-[#0056b3]">Nuestros Servicios</h2>
  </div>

  <div class="mt-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="service-card">
      <h3 class="service-title">Consultoría Estratégica</h3>
      <p>
        Ofrecemos consultoría estratégica personalizada para identificar
        oportunidades de crecimiento y diseñar estrategias efectivas para su
        pyme.
      </p>
    </div>
    <div class="service-card">
      <h3 class="service-title">Capacitación y Formación</h3>
      <p>
        Proveemos programas de capacitación y formación para empresarios y
        empleados de pymes, enfocándonos en el desarrollo de habilidades
        estratégicas y operativas.
      </p>
    </div>
    <div class="service-card">
      <h3 class="service-title">Análisis de Mercado</h3>
      <p>
        Realizamos análisis de mercado detallados para ayudar a las pymes a
        entender mejor su entorno competitivo y aprovechar las oportunidades del
        mercado.
      </p>
    </div>
    <div class="service-card">
      <h3 class="service-title">Desarrollo de Negocios</h3>
      <p>
        Asistimos a las pymes en el desarrollo de nuevos negocios y líneas de
        productos, desde la conceptualización hasta la implementación.
      </p>
    </div>
    <div class="service-card">
      <h3 class="service-title">Innovación y Tecnología</h3>
      <p>
        Brindamos asesoría en la adopción de tecnologías innovadoras para
        mejorar la eficiencia operativa y la competitividad de las pymes.
      </p>
    </div>
    <div class="service-card">
      <h3 class="service-title">Soporte Continuo</h3>
      <p>
        Ofrecemos soporte continuo para asegurar que las estrategias
        implementadas se mantengan efectivas y se ajusten según sea necesario.
      </p>
    </div>
  </div>
</div>
