<div class="flex justify-center py-12 bg-primaryDark" id="methodology">
  <h2 class="text-5xl title text-white">Nuestra Metodología</h2>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-8 bg-white">
  <div
    class="flex flex-col items-center p-4 border-r-0 border-b md:border-b-0 md:border-r-r xl:border-r border-gray"
  >
    <img src="/img/analityc.svg" alt="advance" class="w-20 h-20 mb-4" />
    <h3 class="text-2xl title">Análisis Estratégico</h3>
    <p class="text-center text-gray800 mt-4">
      Realizamos un diagnóstico exhaustivo para identificar las fortalezas,
      oportunidades, debilidades y amenazas de tu PYME.
    </p>
  </div>
  <div
    class="flex flex-col items-center p-4 border-0 border-b md:border-b-0 xl:border-r border-gray"
  >
    <img src="/img/planner.svg" alt="advance" class="w-20 h-20 mb-4" />

    <h3 class="text-2xl title">Diseño de Estrategias</h3>
    <p class="text-center text-gray800 mt-4">
      Creamos planes de acción personalizados que se adaptan a las necesidades
      específicas y objetivos de tu empresa.
    </p>
  </div>
  <div class="flex flex-col items-center p-4">
    <img src="/img/advance.svg" alt="advance" class="w-20 h-20 mb-4" />

    <h3 class="text-2xl title">Implementación y Seguimiento</h3>
    <p class="text-center text-gray800 mt-4">
      Te acompañamos en la ejecución de las estrategias y evaluamos
      continuamente los resultados para asegurar el éxito.
    </p>
  </div>
</div>
<div
  class="bg-gradient-to-r py-16 text-white flex flex-col justify-center items-center text-center"
>
  <h2 class="text-3xl subtitle">¿Por qué Elegir Estramipymes?</h2>
  <p class="max-w-4xl mx-auto mt-4">
    Nuestro enfoque se basa en la experiencia y el conocimiento acumulado de la
    Universidad EAFIT, garantizando soluciones estratégicas efectivas y
    personalizadas para cada PYME.
  </p>
</div>
