<div class="w-full h-screen px-40 py-16 flex justify-center items-center background-register">
    <div class="w-full max-w-screen-xl h-full flex-col flex items-center rounded-lg form-container">
        <div class="flex flex-col w-full px-36 py-16 items-center">
            <div class="flex items-center justify-between w-full mb-16 font-semibold">
                <div class="text-white text-5xl px-12">
                    <h1>Regístrate</h1>
                </div>
                <div class="w-56 px-4">
                    <img src="/img/white-logo.png" alt="white-logo">
                </div>

            </div>
            <div>
                <app-form-register></app-form-register>
            </div>
        </div>

    </div>
</div>