.background-register{
    background-image: url("/img/backgroundRegister.jpg");
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
    min-height:100vh;
 }
 .form-container{
    background-color: rgba(8, 94, 160, 0.8);
 }