<app-header-home></app-header-home>
<div
  class="text-white flex relative z-20 items-center overflow-hidden home-container"
>
  <div class="flex relative w-auto">
    <div
      class="sm:w-2/3 lg:w-2/3 flex flex-col justify-evenly relative z-20 bg-black"
    >
      <div class="text-6xl pl-8 font-black">
        <h1>Estramipymes</h1>
      </div>
      <div class="pl-8 pr-8 flex flex-col gap-8">
        <h1 class="text-6xl sm:text-4xl flex flex-col leading-none">
          Impulsa el Crecimiento de tu PYME
          <span class="text-4xl sm:text-3xl mt-4 font-thin">
            Estrategias Efectivas para un Futuro Exitoso
          </span>
        </h1>
        <p class="text-sm sm:text-base pr-36">
          Descubre el poder de las estrategias personalizadas y el análisis
          detallado con Estramipymes. Nuestro enfoque único está diseñado para
          identificar oportunidades de crecimiento y superar los desafíos
          específicos que enfrentan las PYMEs. Únete a nosotros y transforma el
          potencial de tu empresa en logros tangibles.
        </p>
      </div>
      <div class="flex mt-8 pl-8">
        <a
          href="#"
          class="py-2 px-4 rounded-lg bg-pink-500 border-2 border-transparent text-md mr-4 transition-all hover:bg-secondary hover:border-secondary hover:text-black"
        >
          Registrarse
        </a>
        <a
          href="#"
          class="py-2 px-4 rounded-lg bg-transparent border-2 border-pink-500 text-pink-500 text-md transition-all hover:bg-secondary hover:border-secondary hover:text-black"
        >
          Conoce más
        </a>
      </div>
    </div>
    <div class="hidden sm:block sm:w-1/3 lg:w-full relative bg-black">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
