<app-header-home class="fixed top-0 w-full z-50 bg-white"></app-header-home>

<div
  class="text-white w-full pt-20 md:py-0 flex relative z-20 h-auto items-center overflow-hidden home-container"
>
  <div class="flex relative w-auto h-screen lg:h-auto">
    <div
      class="w-full xl:w-2/3 flex flex-col justify-evenly relative pt-11 h-auto z-20 bg-black"
    >
      <div class="text-6xl pl-8 font-black">
        <h1>Estramipymes</h1>
      </div>
      <div class="pl-8 pr-8 flex flex-col gap-8">
        <h1 class="text-6xl sm:text-4xl flex flex-col leading-none">
          Impulsa el Crecimiento de tu PYME
          <span class="text-4xl sm:text-3xl mt-4 font-thin">
            Estrategias Efectivas para un Futuro Exitoso
          </span>
        </h1>
        <p class="text-sm sm:text-base md:pr-48 lg:pr-80 xl:pr-36">
          Descubre el poder de las estrategias personalizadas y el análisis
          detallado con Estramipymes. Nuestro enfoque único está diseñado para
          identificar oportunidades de crecimiento y superar los desafíos
          específicos que enfrentan las PYMEs. Únete a nosotros y transforma el
          potencial de tu empresa en logros tangibles.
        </p>
      </div>
      <div class="flex mt-8 pl-8">
        <a
          routerLink="/register"
          class="py-2 px-4 rounded-lg bg-pink-500 border-2 border-transparent text-md mr-4 transition-all hover:bg-secondary hover:border-secondary hover:text-black"
        >
          Registrarse
        </a>
        <a
          href="https://editorial.eafit.edu.co/index.php/editorial/catalog/book/195"
          target="_blank"
          class="py-2 px-4 rounded-lg bg-transparent border-2 border-pink-500 text-pink-500 text-md transition-all hover:bg-secondary hover:border-secondary hover:text-black"
        >
          Conoce más
        </a>
      </div>
    </div>

    <div class="hidden sm:block xl:w-full relative bg-black">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>

<div
  class="h-auto bg-second-section shadow-xl px-16 flex flex-col justify-center"
  id="about"
>
  <div
    class="flex justify-center 2xl:justify-start items-center lg:pl-16 pt-16"
  >
    <h2 class="text-5xl title">Sobre Nosotros</h2>
  </div>

  <div>
    <div class="grid grid-cols-1 2xl:grid-cols-2">
      <div
        class="flex flex-col items-center 2xl:items-start justify-center lg:pl-16 py-16"
      >
        <div class="max-w-2xl">
          <div class="flex justify-start flex-col gap-4">
            <p>
              Estramipyme es una metodología desarrollada para facilitar y
              agilizar el diseño de estrategias competitivas para micro,
              pequeñas y medianas empresas (pymes).
            </p>
            <p>
              Nació en 2019 a partir de un proyecto de estudiantes del MBA de la
              Universidad EAFIT, bajo la supervisión de expertos en estrategia.
            </p>
          </div>
        </div>
        <div class="my-8 cards-container justify-center gap-16">
          <mat-card class="cards" appearance="outlined">
            <mat-card-header class="flex flex-col justify-center">
              <img src="/img/purpose.webp" alt="Purpose" class="rounded-lg" />
              <div class="py-4">
                <mat-card-title class="card-title underline"
                  >Propósito</mat-card-title
                >
              </div>
            </mat-card-header>
            <mat-card-content class="card-content shadow-xl rounded-lg">
              <p class="py-4">
                Fortalecer el tejido empresarial colombiano a través de la
                implementación de estrategias efectivas y personalizadas para
                pymes.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="cards" appearance="outlined">
            <mat-card-header class="flex flex-col justify-center">
              <img src="/img/mission.webp" alt="Purpose" class="rounded-lg" />
              <div class="py-4">
                <mat-card-title class="card-title underline"
                  >Misión</mat-card-title
                >
              </div>
            </mat-card-header>
            <mat-card-content class="card-content shadow-xl rounded-lg">
              <p class="py-4">
                Empoderar a los empresarios de pymes con herramientas
                estratégicas que les permitan reconocer oportunidades, superar
                desafíos y alcanzar el éxito sostenible.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <a
          href="https://editorial.eafit.edu.co/index.php/editorial/catalog/book/195"
          target="_blank"
          class="py-2 px-4 rounded-lg bg-transparent border-2 border-pink-500 text-pink-500 text-md transition-all hover:bg-secondary hover:border-secondary hover:text-black"
        >
          Conoce más
        </a>
      </div>

      <div class="flex flex-col items-center py-16">
        <div class="max-w-2xl">
          <div class="flex justify-center flex-col gap-4">
            <h2 class="text-4xl subtitle text-primaryDark text-shadow-md">
              Historia
            </h2>
            <p>
              Estramipyme fue concebida para apoyar a organizaciones que no
              cuentan con recursos suficientes para acceder a consultorías
              costosas.
            </p>
            <p>
              Desde su creación, ha beneficiado a más de cien micronegocios y
              pymes, brindando consultorías en estrategia bajo la supervisión de
              profesores experimentados y el apoyo de estudiantes.
            </p>
            <div class="font-black">
              <h3 class="text-4xl subtitle text-primaryDark text-shadow-md">
                ¿Por qué Estramipyme?
              </h3>
            </div>
            <ol>
              <li>
                <strong>Confiabilidad:</strong>
                Basada en conocimientos, investigaciones y experiencias de
                profesores y estudiantes del Grupo de Estudio de Estrategia de
                EAFIT.
              </li>
              <li>
                <strong>Promesa de Valor:</strong> Facilitar preguntas y
                respuestas estratégicas para lograr acciones con propósito,
                incluso en entornos inciertos y cambiantes.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center py-12 bg-primaryDark" id="methodology">
  <h2 class="text-5xl title text-white">Nuestra Metodología</h2>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-8 bg-white">
  <div
    class="flex flex-col items-center p-4 border-r border-b md:border-b-0 md:border-r-0 lg:border-r border-gray-300"
  >
    <img src="/img/analityc.svg" alt="advance" class="w-20 h-20 mb-4" />
    <h3 class="text-2xl title">Análisis Estratégico</h3>
    <p class="text-center text-gray-600 mt-4">
      Realizamos un diagnóstico exhaustivo para identificar las fortalezas,
      oportunidades, debilidades y amenazas de tu PYME.
    </p>
  </div>
  <div
    class="flex flex-col items-center p-4 border-r border-b md:border-b-0 lg:border-r border-gray-300"
  >
    <img src="/img/planner.svg" alt="advance" class="w-20 h-20 mb-4" />

    <h3 class="text-2xl title">Diseño de Estrategias</h3>
    <p class="text-center text-gray-600 mt-4">
      Creamos planes de acción personalizados que se adaptan a las necesidades
      específicas y objetivos de tu empresa.
    </p>
  </div>
  <div class="flex flex-col items-center p-4">
    <img src="/img/advance.svg" alt="advance" class="w-20 h-20 mb-4" />

    <h3 class="text-2xl title">Implementación y Seguimiento</h3>
    <p class="text-center text-gray-600 mt-4">
      Te acompañamos en la ejecución de las estrategias y evaluamos
      continuamente los resultados para asegurar el éxito.
    </p>
  </div>
</div>

<div
  class="bg-gradient-to-r py-16 text-white flex flex-col justify-center items-center text-center"
>
  <h2 class="text-3xl title">¿Por qué Elegir Estramipymes?</h2>
  <p class="max-w-4xl mx-auto mt-4">
    Nuestro enfoque se basa en la experiencia y el conocimiento acumulado de la
    Universidad EAFIT, garantizando soluciones estratégicas efectivas y
    personalizadas para cada PYME.
  </p>
</div>
<div
  class="fixed right-0 w-24 bottom-1/2 shadow-xl cursor-pointer z-50 transition-all duration-200 hover:scale-110 hover:-translate-x-6 hover:w-36"
>
  <a
    href="https://editorial.eafit.edu.co/index.php/editorial/catalog/book/195"
    target="_blank"
  >
    <img src="/img/book.jpg" alt="Book" />
  </a>
</div>

<div>
  <h2 class="text-5xl title text-black">Servicios</h2>
</div>

<app-footer></app-footer>
