<div
  class="w-full h-full max-h-screen px-4 py-12 grid grid-cols-1 xl:grid-cols-2"
>
  <div class="flex flex-col">
    <h1 class="title text-primaryDark">
      Cuestionario de análisis estratégico del negocio
    </h1>
    <div class="text-sm xl:text-lg">
      <p class="max-w-screen-lg">
        Este cuestionario está diseñado para recopilar información detallada
        sobre diversos aspectos de su negocio. El objetivo es realizar un
        análisis estratégico que nos permita comprender mejor su empresa, sus
        clientes, competidores y el entorno en el que opera. La información
        proporcionada nos ayudará a identificar oportunidades y desafíos, y a
        desarrollar estrategias efectivas para el crecimiento y el éxito de su
        negocio. Por favor, responda a cada pregunta con la mayor precisión
        posible.
      </p>
      <p class="max-w-screen-lg">
        El cuestionario está dividido en varias secciones y cada pregunta es de
        respuesta abierta con un límite de palabras. Puede navegar entre las
        preguntas utilizando los botones de "Siguiente" y "Anterior". Una vez
        completado el cuestionario, haga clic en "Enviar".
      </p>
    </div>
    <div class="mt-2">
      <a
        routerLink="/questionnaire"
        class="py-2 px-4 rounded-lg bg-transparent border-2 border-pink-500 text-pink-500 text-md transition-all hover:bg-secondary hover:border-secondary hover:text-black"
      >
        Comenzar
      </a>
    </div>
  </div>

  <div class="flex justify-center">
    <img
      src="/img/form-img.webp"
      alt="Image form"
      class="hidden shadow-md xl:flex xl:max-w-xl"
    />
  </div>
</div>
