.hero-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.title h1 {
    font-weight: 900;
    font-size: 3rem;
}

.subtitle h1,
span {
    font-size: 2rem;
    padding-right: 3rem;
}

.subtitle p {
    font-size: 0.8rem;
    padding-right: 5rem;
}

@media(min-width: 1280px) {
    .title h1 {
        font-size: 3.5rem;

    }

    .subtitle p {
        font-size: 1rem;
        padding-right: 0;
    }

    .subtitle h1 {
        font-size: 2.5rem;
        padding-right: 0;
    }

    .subtitle span {
        font-size: 2rem;
        padding-right: 0;
    }
}

@media(min-width: 1536px) {
    .title h1 {
        font-size: 4.75rem;

    }

    .subtitle p {
        font-size: inherit;
        padding-right: inherit;
    }

    .subtitle h1 {
        font-size: 3.75rem;
        padding-right: 0;
    }

    .subtitle span {
        font-size: 2.25rem;
        padding-right: 0;
    }
}