<div
  class="text-white w-full pt-0 xl:pt-0 flex relative z-20 items-center overflow-hidden hero-container"
  id="start"
>
  <div class="flex relative w-auto h-auto lg:h-screen">
    <div
      class="w-full block flex-col justify-center relative pt-20 z-20 bg-black md:pt-28 lg:pt-28 lg:flex xl:w-2/3"
    >
      <div class="pl-2 pr-32 title md:pl-8">
        <h1>Estramipyme</h1>
      </div>
      <div class="pl-2 pr-12 md:pl-8 md:pr-8 flex flex-col gap-8 subtitle">
        <h1 class="flex flex-col leading-none">
          Impulsa el Crecimiento de tu PYME
          <span class="text-4xl sm:text-3xl mt-4 font-thin">
            Estrategias Efectivas para un Futuro Exitoso
          </span>
        </h1>
        <p class="text-sm sm:text-base md:pr-48 lg:pr-80 xl:pr-36">
          Descubre el poder de las estrategias personalizadas y el análisis
          detallado con Estramipyme. Nuestro enfoque único está diseñado para
          identificar oportunidades de crecimiento y superar los desafíos
          específicos que enfrentan las PYMEs. Únete a nosotros y transforma el
          potencial de tu empresa en logros tangibles.
        </p>
      </div>
      <div class="flex mt-8 pl-8 pb-8">
        <a
          routerLink="/register"
          class="py-2 px-4 rounded-lg border-2 border-transparent text-md mr-4 transition-all hover:bg-secondary hover:border-secondary hover:text-black"
        >
          Registrarse
        </a>
        <a
          href="https://editorial.eafit.edu.co/index.php/editorial/catalog/book/195"
          target="_blank"
          class="py-2 px-4 rounded-lg bg-transparent border-2 text-md transition-all hover:bg-secondary hover:border-secondary hover:text-black"
        >
          Conoce más
        </a>
      </div>
    </div>

    <div class="hidden xl:block xl:w-full relative bg-black">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
