<div class="w-full py-2 px-2 lg:px-4 lg:py-4 h-full shadow-xl">
  <nav class="flex justify-between h-full">
    <div class="h-auto flex items-center">
      <a href="#/">
        <img src="/img/blue-logo.png" alt="Logo" width="110px" />
      </a>
    </div>
    <div class="xl:hidden flex w-full">
      <div class="w-full flex items-center justify-end gap-4">
        <ul class="flex gap-4">
          <li>
            <a
              routerLink="/login"
              class="bg-grayDark flex items-center justify-center text-xs py-2 rounded-md px-2 text-white font-medium transition-all duration-200 hover:bg-secondary hover:text-grayDark"
              >Iniciar sesión</a
            >
          </li>
          <li>
            <a
              routerLink="/register"
              class="bg-grayDark flex items-center justify-center text-xs py-2 w-auto rounded-md px-2 text-white font-medium transition-all duration-200 hover:bg-secondary hover:text-grayDark"
              >Registrarse</a
            >
          </li>
        </ul>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu" class="w-full py-12 px-16">
          <ul class="w-full flex flex-col gap-8 items-center">
            <li class="underline-animation">
              <a href="/">Inicio</a>
            </li>
            <li class="underline-animation">
              <a href="#about">Sobre Nosotros</a>
            </li>
            <li class="underline-animation">
              <a href="#methodology">Metodología</a>
            </li>
            <li class="underline-animation">
              <a href="#">Servicios</a>
            </li>
            <li class="underline-animation">
              <a href="#">Casos de Éxito</a>
            </li>
            <li class="underline-animation">
              <a href="#">Contacto</a>
            </li>
          </ul>
        </mat-menu>
      </div>
    </div>
    <div class="hidden xl:flex">
      <ul class="w-full flex gap-8 items-center">
        <li class="underline-animation">
          <a href="#">Inicio</a>
        </li>
        <li class="underline-animation">
          <a href="#about">Sobre Nosotros</a>
        </li>
        <li class="underline-animation">
          <a href="#methodology">Metodología</a>
        </li>
        <li class="underline-animation">
          <a href="#">Servicios</a>
        </li>
        <li class="underline-animation">
          <a href="#">Casos de Éxito</a>
        </li>
        <li class="underline-animation">
          <a href="#">Contacto</a>
        </li>
        <li>
          <a
            routerLink="/login"
            class="bg-grayDark py-3 w-auto rounded-md px-2 text-white font-medium transition-all duration-200 hover:bg-secondary hover:text-grayDark"
            >Iniciar sesión</a
          >
        </li>
        <li>
          <a
            routerLink="/register"
            class="bg-grayDark py-3 w-auto rounded-md px-2 text-white font-medium transition-all duration-200 hover:bg-secondary hover:text-grayDark"
            >Registrarse</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
