<div class="w-full py-6 px-48">
  <nav class="flex justify-between">
    <div class="h-auto">
      <a href="#/">
        <h1 class="h-auto text-3xl font-bold text-grayDark">Estramipymes</h1>
      </a>
    </div>
    <div>
      <ul class="w-full flex gap-8 items-center">
        <li class="underline-animation">
          <a href="#">Inicio</a>
        </li>
        <li class="underline-animation">
          <a href="#">Servicios</a>
        </li>
        <li class="underline-animation">
          <a href="#">Nosotros</a>
        </li>
        <li class="underline-animation">
          <a href="#">Contacto</a>
        </li>
        <li>
          <button
            class="bg-secondary rounded-md p-2 text-black font-medium transition-all duration-200 hover:bg-grayDark hover:text-white"
            type="button"
          >
            Iniciar sesión
          </button>
        </li>
        <li>
          <button
            class="bg-secondary rounded-md p-2 text-black font-medium transition-all duration-200 hover:bg-grayDark hover:text-white"
            type="button"
          >
            Registrarme
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
