<div class="mat-elevation-z8 pt-24 px-4 md:pt-28 xl:pt-20">
  <mat-form-field class="filter">
    <mat-label>Buscar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Buscar usuarios"
    />
  </mat-form-field>
  <div class="table-container">
    <div class="table-wrapper">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="editMode[user.email]; else readModeName">
              <input matInput [(ngModel)]="user.name" class="edit-input" />
            </div>
            <ng-template #readModeName>
              <span class="cell-content">{{ user.name }}</span>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="editMode[user.email]; else readModeEmail">
              <input
                matInput
                [(ngModel)]="user.email"
                class="no-editable"
                disabled
              />
            </div>
            <ng-template #readModeEmail>
              <span class="cell-content">{{ user.email }}</span>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="editMode[user.email]; else readModeRole">
              <select [(ngModel)]="user.role" class="edit-input">
                <option *ngFor="let role of availableRoles" [value]="role">
                  {{ role }}
                </option>
              </select>
            </div>
            <ng-template #readModeRole>
              <span class="cell-content">{{ user.role }}</span>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="formCompleted">
          <th mat-header-cell *matHeaderCellDef>Formulario</th>
          <td mat-cell *matCellDef="let user">
            <span class="cell-content">{{
              user.formCompleted ? "Completado" : "No Completado"
            }}</span>
          </td>
        </ng-container>

        <ng-container
          matColumnDef="actions"
          *ngIf="currentUser?.role === 'admin'"
        >
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="editMode[user.email]; else editButton">
              <button mat-icon-button color="primary" (click)="saveUser(user)">
                <mat-icon>check</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="cancelEdit(user)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <ng-template #editButton>
              <button mat-icon-button color="primary" (click)="editUser(user)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteUser(user)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
